@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5dc;
  color: #000000;
}

code {
  font-family: "Roboto Mono", monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
